#canvas-container {
  box-sizing: content-box;
  padding-bottom: 1rem;
  place-self: stretch;
  align-content: center;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}



canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: .5rem solid white;
  border-radius: 1rem;
}
