
:root {
  font-size: 2vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  /*border: 1px dashed red;*/
  text-shadow: 1px 1px white,
      -1px -1px white,
      1px -1px white,
      -1px 1px white;

  /*
  text-shadow: .05rem .05rem white,
      -.05rem -.05rem white,
      .05rem -.05rem white,
      -.05rem .05rem white;
  */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button, #github-link {
    border-radius: 5px;
    background: rgba(0,0,0,.2);
    border-style: solid;
    border-width: .2rem;
    color: white;
    text-shadow: none;
    font-size: 1rem;
}


h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}
